input[type='checkbox'].drum-machine-rows {
    -webkit-appearance:none;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius:5px;
    border:2px solid black;
    margin: 1px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type='checkbox']:focus {
  outline: none;
}

input[type='checkbox']:hover, button:hover, select:hover, .controls-container {
  cursor: pointer;
}

#row1:checked {
    background: #16E6CC;
}

#row2:checked {
    background: #FF6A63;
}

#row3:checked {
    background: #E830CE;
}

#row4:checked {
    background: #9201ff;
}

.drum-machine-controls-container {
  display: inline-block;
  border: solid;
  width: 900px;
  background-color: black;
  padding-top: 20px;
  margin-top: 60px;
}

.drum-machine-values-border {
  display: inline-block;
  border: solid 1px white;
  width: 450px;
  padding: 20px;
  margin: 20px;
  margin-left: 115px;
  float: left;
}

.drum-machine-values-container {
  background-color: #98F9A8;
  font-family: 'digital';
  color: black;
  width: 450px;
  overflow: auto;
}

h3, p {
  margin: 0;
  padding: 0;
}

.drum-machine-values {
  width: 90px;
  float: left;
  font-size: 65px;
}

.drum-machine-units {
  font-size: 20px;
}

.drum-machine-media-border {
  border: solid 1px white;
  width: 130px;
  float: left;
  margin: 20px 20px 15px 20px;
}

.drum-machine-media-controls-container {
  border: solid 1px white;
  margin: 5px;
  overflow: auto;
}

.drum-machine-controls-title {
  margin-bottom: 5px;
}

.drum-machine-main-control {
  margin: 10px 0px 10px 10px;
  width: 55px;
  float: left;
}

button[name="play"].drum-machine {
  border-style: solid;
  border-width: 30px 0 30px 60px;
  border-color: transparent transparent transparent #E830CE;
}

button[name="play"]:focus {
  outline: 0;
  border-color: transparent transparent transparent #67FF6C;
  animation: play-flash 1s linear infinite;
}

@keyframes play-flash {
  50% {
    border-color: transparent transparent transparent transparent;
  }
}

.drum-machine-sub-controls {
  float: left;
  width: 30px;
  margin-left: 10px;
}

button[name="record"].drum-machine {
  border: solid #1be7ff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1be7ff;
  margin: 5px 0px 10px 0px;
}

button[name="record"]:focus {
  background-color: #FF6A63;
  border: solid #FF6A63;
  outline: none;
  animation: rec-flash 1s linear infinite;
}

@keyframes rec-flash {
  50% {
    opacity: 0;
  }
}

button[name="stop"].drum-machine {
  border: solid #9201ff;
  width: 30px;
  height: 30px;
  background-color: #9201ff
}

button[name="stop"]:focus {
  background-color: #E7C501;
  border: solid #E7C501;
  outline: none;
}

.drum-machine-sliders-container {
  border: solid 1px white;
  width: 490px;
  float: left;
  margin-left: 115px;
  margin-bottom: 30px;
}

.drum-machine-slider-value {
  width: 60px;
  font-size: 16px;
  float: left;
  margin-top: 7px;
}

.drum-machine-slider-container {
  width: 390px;
  float: left;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}

.drum-machine-destroy-buttons {
  border: solid 1px white;
  padding: 5px;
  margin: 5px 0px 5px 10px;
  font-size: 14px;
}

.drum-machine-reset-buttons {
  padding-left: 35px;
  padding-right: 35px;
}

.drum-machine-clear-button {
  padding-left: 35px;
  padding-right: 35px;
}

.drum-machine-destroy-buttons:focus {
  outline-color: #16E6CC;
}

.drum-machine-reset-but-container {
  display: inline-block;
  margin-right: 105px;
  margin-top: 7px;
}

.drum-machine-clear-but-container {
  display: inline-block;
  margin-right: 85px;
}

.drum-tonk-label {
  width: 80px;
  font-size: 30px;
  margin: 5px 20px 0px 45px;
  float: left;
}
