body, html {
  text-align: center;
  display: block;
  color: white;
  background-color: #202020;
  font-family: 'Orbitron', sans-serif;
}

@font-face {
  font-family: 'digital';
  src: url('./assets/fonts/digital.ttf');
}
